.nav-link{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
}

.navbar{
    background-color: #48555e96;
}

.btn{
    background-color: #10B1E2;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    border-color: #10B1E2;
}

#slider-text1{
    font-family: 'Noto Serif', serif;
    color: #ffffff;
}

#slider-text2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: #ffffff;
}

.título{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.descrição{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 1px;
}

.st{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 1px;
    padding-top: 10px;
}

.sd{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    padding-bottom: 50px;
}
 #s1{
     background-color:#DEDEDE;
     padding-top: 50px;
 }

 #s2{
     background-color: #DEDEDE;
     padding-top: 50px;
 }

 #s3{
     background-color: #DEDEDE;
     padding-top: 50px;
 }

 .tt{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 17px;
    padding-top: 20px;
    letter-spacing: 1px;
 }

 .td{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-style: italic;
    font-weight: 500;
    line-height: 1px;
    padding-bottom: 20px;
 }

 .tr{
     font-family: 'Barlow Semi Condensed', sans-serif;
     font-size: 14px;
     text-align: center;
     line-height: 35px;
 }

 .form-control{
     font-family: 'Poppins', sans-serif;
     font-size: 16px
 }

 .tnit{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 17px;
    padding-top: 20px;
    letter-spacing: 1px; 
 }

 .tdnit{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    line-height: 3px;
    padding-bottom: 5px
 }

 .t{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
 }

 .tm{
    font-family:'Noto Serif', serif;
    color: #10B1E2;
    font-size: 30px;
    padding-top: 8px;
 }